<%- include('partials/header'); -%>
<% if(!selected_year) { %>
    <h3>The Payment Details for all years:</h3>
<% } else { %>
    <h3>The Payment Details for the year :<%=selected_year%></h3>
<% } %>
<form action="/list_all_payment_details" method="GET">
    <div class="text-center">
    <label for="selected_year">Select a Year</label>
    <select id="selected_year" name="selected_year">
        <option value="">All years</option>
        <% if(!selected_year) { %>
            <option value="" selected disabled>Select a Year</option>
        <% } else { %>
            <option value="<%= selected_year %>" selected disabled>Selected: <%= selected_year %></option>
        <% } %>
    </select>
    </div>
</form>
<h3>Institution Payment Details</h3>
<div class="overflow-scroll">
<table>
    <tr>
        <th>INSTITUTION ID</th>
        <th>DIMENSION OF VACANT AREA IN SQFT</th>
        <th>DIMENSION OF BUILDING AREA IN SQFT</th>
        <th>TOTAL DIMENSION IN SQFT</th>
        <th>USAGE OF BUILDING</th>
        <th>PROPERTY TAX</th>
        <th>REBATE</th>
        <th>SERVICE TAX</th>
        <th>CESSES</th>
        <th>INTEREST</th>
        <th>TOTAL AMOUNT</th>
        <th>TO WHICH DEPARTMENT PAID</th>
        <th>YEAR</th>
        <th>RECEIPT NO / DATE</th>
        <th>REMARKS</th>
        <th style="text-align: center;">OPTIONS</th>
    </tr>
    <% institution_payment_details_in_division.forEach((entry)=>{ %>
        <tr>
            <td><%=entry.institution_id%></td>
            <td><%=entry.dimension_of_vacant_area_sqft%></td>
            <td><%=entry.dimension_of_building_area_sqft%></td>
            <td><%=entry.total_dimension_in_sqft%></td>
            <td><%=entry.usage_of_building%></td>
            <td><%=entry.property_tax%></td>
            <td><%=entry.rebate%></td>
            <td><%=entry.service_tax%></td>
            <td><%=entry.cesses%></td>
            <td><%=entry.interest%></td>
            <td><%=entry.total_amount%></td>
            <td><%=entry.to_which_department_paid%></td>
            <td><%=entry.payment_year%></td>
            <td><%=entry.receipt_no_or_date%></td>
            <td><%=entry.remarks%></td>
            <% if (entry.bill_sl_no) { %>
                <td>
                    <a class="btn btn-info" href="/view_image/<%=entry.sl_no%>">View Bill</a>
                </td>
            <% } else { %>
                <td>
                    <a class="btn btn-warning" disabled>No Bill Uploaded</a>
                </td>
            <% } %>
        </tr>

    <% }) %>

</table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Populate the dropdown with years in the format "YYYY-YY" from 2010-11 to the current year
        const selectedYearElement = document.getElementById('selected_year');
        const currentYear = new Date().getFullYear();
        const selectedYear = "<%= selected_year %>";

        for (let i = currentYear; i >= 2010; i--) {
            const nextYear = (i + 1).toString().slice(-2); // Get the last two digits of the next year
            const yearRange = `${i}-${nextYear}`;
            const option = document.createElement('option');
            option.value = yearRange;
            option.textContent = yearRange;

            if (selectedYear === yearRange) {
                option.selected = true;
            }

            selectedYearElement.appendChild(option);
        }
        document.getElementById('selected_year').addEventListener('change', function() {
            this.form.submit();
        });
    });
</script>
<%- include('partials/footer'); -%>