<%- include('partials/header'); -%>
<h3>List of all division users:</h3>
<a href="/create_new_division" class="btn btn-primary">Add a New Division User</a>
<div class="overflow-scroll">
<table>
    <tr>
        <th>DIVISION ID</th>
        <th>DIVISION</th>
        <th>EMAIL</TH>
        <th>PHONE</th>
    </tr>
    <%information.forEach((entry)=>{ %>
        <tr>
            <td><%=entry.division_id%></td>
            <td><%=entry.division%></td>
            <td><%=entry.email%></td>
            <td><%=entry.phone_number%></td>
        </tr>
    <%})%>
</table>
</div>
<%- include('partials/footer'); -%>