<%- include('partials/header'); -%>
<h3>List of all division users:</h3>
<a href="/create_new_division" class="btn btn-primary">Add a New Division User</a>
<div class="overflow-scroll">
<table>
    <tr>
        <th>DIVISION ID</th>
        <th>DIVISION</th>
        <th>EMAIL</TH>
        <th>PHONE</th>
        <th colspan="2" style="text-align: center;">OPTIONS</th>
    </tr>
    <%information.forEach((entry)=>{ %>
        <% if (entry.division_id !== 'ADMIN_TEMP_DIVISION') { %>
            <tr>
                <td><%=entry.division_id%></td>
                <td><%=entry.division%></td>
                <td><%=entry.email%></td>
                <td><%=entry.phone_number%></td>
                <td>
                    <button class="btn btn-secondary"><a href="/modify_division_user?division_id=<%=entry.division_id%>">Modify</button>
                </td>
                <td>
                    <button class="btn btn-secondary"><a href="/delete_division_user?division_id=<%=entry.division_id%>">Delete</button>
                </td>
            </tr>
        <% } %>
    <%})%>
</table>
</div>
<%- include('partials/footer'); -%>