<%- include('partials/header'); -%>
<h3>List of all site users in division <%- user_details.division -%>:</h3>
<a class="btn btn-primary" href="/create_new_site">Create New Site User</a>
<div class="overflow-scroll">
<table>
    <tr>
        <th>EMAIL</th>
        <th>SITE ID</th>
        <th>COUNTRY</th>
        <th>STATE</th>
        <th>DISTRICT</th>
        <th>TALUK</th>
        <th>SITE NAME</th>
        <th>VILLAGE OR CITY</th>
        <th>PID</th>
        <th>KHATHA OR PROPERTY NUMBER</th>
        <th>NAME OF KHATHADAR</th>
        <th>TYPE OF BUILDING</th>
        <th colspan="2" style="text-align: center;">OPTIONS</th>
    </tr>
    <% information.forEach((entry)=>{ %>
        <tr>
            <td><%=entry.email%></td>
            <td><%=entry.site_id%></td>
            <td><%=entry.country%></td>
            <td><%=entry.state%></td>
            <td><%=entry.district%></td>
            <td><%=entry.taluk%></td>
            <td><%=entry.site_name%></td>
            <td><%=entry.village_or_city%></td>
            <td><%=entry.pid%></td>
            <td><%=entry.khatha_or_property_no%></td>
            <td><%=entry.name_of_khathadar%></td>
            <td><%=entry.type_of_building%></td>
            <td>
                <button class="btn btn-success" type="submit"><a href="/modify_site?division_id=<%=entry.division_id%>&site_id=<%=entry.site_id%>">Modify</button>
            </td>
            <td>
                <button class="btn btn-success" type="submit"><a href="/delete_site?division_id=<%=entry.division_id%>&site_id=<%=entry.site_id%>">Delete</button>
            </td>
        </tr>

    <% }) %>

</table>
</div>
<%- include('partials/footer'); -%>