<%- include('partials/header'); -%>
<p>Local report for the year:</p>
<h3>Institution User's Report</h3>
<div class="overflow-scroll">
<table>
    <tr>
        <th>DIVISION ID</th>
        <th>INSTITUTION ID</th>
        <th>INSTITUTION NAME</th>
        <th>KHATHA OR PROPERTY NUMBER</th>
        <th>KHATHADAR NAME</th>
        <th>PROPERTY ID</th>
    </tr>
    <% division_institution_payment_details.forEach((entry)=>{ %>
        <tr>
            <td><%=entry.division_id%></td>
            <td><%=entry.institution_id%></td>
            <td><%=entry.institution_name%></td>
            <td><%=entry.khatha_or_property_no%></td>
            <td><%=entry.name_of_khathadar%></td>
            <td><%=entry.pid%></td>
        </tr>
    <% }) %>
</table>
</div>
<h3>Site User's Report</h3>
<div class="overflow-scroll">
<table>
    <tr>
        <th>DIVISION ID</th>
        <th>SITE ID</th>
        <th>SITE NAME</th>
        <th>KHATHA OR PROPERTY NUMBER</th>
        <th>KHATHADAR NAME</th>
        <th>PROPERTY ID</th>
        
    </tr>
    <% division_site_payment_details.forEach((entry)=>{ %>
        <tr>
            <td><%=entry.division_id%></td>
            <td><%=entry.site_id%></td>
            <td><%=entry.site_name%></td>
            <td><%=entry.khatha_or_property_no%></td>
            <td><%=entry.name_of_khathadar%></td>
            <td><%=entry.pid%></td>
        </tr>
    <% }) %>
</table>
</div>
<%- include('partials/footer'); -%>