<%- include(`partials/header`); -%>
<form action="/modify_site_users" method="post" class="form-container">
    <h2 class="pt-3 pb-3">Modify Site User</h2>
    <div class="form-group">
        <label for="division-id">DIVISION ID :</label>
        <input id="division-id" type="text" name="division-id"
        <% if (retrieved_info.division_id) { %>
        value="<%= retrieved_info.division_id %>"
        readonly
        class="gray-out"
        <% } %>
        >
    </div>
    <div class="form-group">
        <label for="email">EMAIL :</label>
        <input type="text" id="email" name="email" value="<%=retrieved_info.email%>" required>
    </div>
    <div class="form-group">
        <label for="password">PASSWORD :</label>
        <input type="password" id="password" name="password" value="<%=retrieved_info.password%>" required>
    </div>
    <!-- Phone number -->
    <div class="form-group">
        <label for="phone-number">PHONE NUMBER :</label>
        <input type="text" id="phone-number" name="phone-number" value="<%=retrieved_info.phone_number%>" required>
    </div>
    <div class="form-group">
        <label for="site-id">SITE ID :</label>
        <input type="text" id="site-id" name="site-id" value="<%=retrieved_info.site_id%>" readonly class="gray-out"required>
    </div>
    <div class="form-group">
        <label for="country">COUNTRY :</label>
        <input type="text" id="country" name="country" value="<%=retrieved_info.country%>" required>
    </div>
    <div class="form-group">
        <label for="state">STATE :</label>
        <input type="text" id="state" name="state" value="<%=retrieved_info.state%>" required>
    </div>
    <div class="form-group">
        <label for="district">DISTRICT :</label>
        <input type="text" id="district" name="district" value="<%=retrieved_info.district%>" required>
    </div>
    <div class="form-group">
        <label for="taluk">TALUK :</label>
        <input type="text" id="taluk" name="taluk" value="<%=retrieved_info.taluk%>" required>
    </div>
    <div class="form-group">
        <label for="site-name">SITE NAME :</label>
        <input type="text" id="site-name" name="site-name" value="<%=retrieved_info.site_name%>" required>
    </div>
    <div class="form-group">
        <label for="village">VILLAGE OR CITY :</label>
        <input type="text" id="village" name="village" value="<%=retrieved_info.village_or_city%>" required>
    </div>
    <div class="form-group">
        <label for="pid">PID :</label>
        <input type="text" id="pid" name="pid" value="<%=retrieved_info.pid%>" required>
    </div>
    <div class="form-group">
        <label for="khatha-no">KHATHA OR PROPERTY NUMBER :</label>
        <input type="text" id="khatha-no" name="khatha-no" value="<%=retrieved_info.khatha_or_property_no%>" required>
    </div>
    <div class="form-group">
        <label for="khathadar-name">NAME OF KHATHADAR :</label>
        <input type="text" id="khathadar-name" name="khathadar-name" value="<%=retrieved_info.name_of_khathadar%>" required>
    </div>
    <div class="form-group">
        <label for="type-of-building">TYPE OF BUILDING :</label>
        <input type="text" id="type-of-building" name="type-of-building" value="<%=retrieved_info.type_of_building%>" required>
    </div>
    <div class="submit-button">
        <button type="submit">Submit</button>
    </div>
</form>
<%- include(`partials/footer`); -%>